    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">

                    <div class="footer-col col-lg-12">
                        <h3>Location</h3>
                        <p>16402 Tampa Palms Boulevard West
                            <br>Tampa, Florida 33647</p>
                    </div> 

                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Mayfair Neighborhood Association 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>