<div class="container" style="text-align: center">
	<br>
<br>
<h1>NEWSLETTERS</h1>
<p>These are our monthly newsletters.</p>
	<ul>
		<hr>
		<p>
			<%= link_to "March 2016", "/mayfair_newsletter_march_2016.pdf", :target => "_blank" %>
		</p>
	</ul>
	<hr>
	
<h3><%= link_to 'BACK HOME', root_path %></h3>
</div>