<div class="container" style="text-align: center">
	<br>
<br>
<h1>Pages#discussions</h1>
<p>These are our monthly newsletters.</p>
	<ul>
		<li>
			<%= link_to "March 2016", "/mayfair_newsletter_march_2016.pdf", :target => "_blank" %>
		</li>
	</ul>
<h3><%= link_to 'BACK HOME', root_path %></h3>
</div>