<div class="container" style="text-align: center">
<br>
<br>	
<h1>SERVING THE COMMUNITY</h1>
<p>This page is dedicated toward serving the community.</p>
<h3><%= link_to 'BACK HOME', root_path %></h3>
</div>